.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  box-shadow: -9px 35px 16px -20px rgba(0, 0, 0, 0.1);
  padding: 0px 20px;
}
.dark {
  background-color: black;
}

.nav_menu {
  display: flex;
  gap: 20px;
  font-weight: 400;
}

.nav_menu a {
  text-decoration: none;
  color: red;
}

.buttons {
  display: flex;
  gap: 20px;
  align-items: center;
}

.buttons button {
  min-width: 6vw;
  padding: 0.5rem 0.2rem;
  border-radius: 12px;
  background-color: #ff00ff;
  color: white;
  border: none;
}
